#login h1 a, .login h1 a {
	/*background-image: url('https://eyepax.com/wp-content/uploads/2019/05/Eyepax-d-Logo.png');*/
	height:100px;
	width:300px;
	background-size: 300px 100px;
	background-repeat: no-repeat;
	padding-bottom: 0px;
	margin-bottom: 0;
}
body.login{
	background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url( "https://source.unsplash.com/random/1920x1080/?wallpaper,landscape" )!important;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
}
.login form{
	box-shadow:none;
	padding:20px;
	border: 0px solid #c3c4c7;
}
#login {
	background: #FFF;
	margin: 0px auto;
	padding: 40px 20px;
	width: 350px;
	border-radius: 7px;
	display: block;
	position: relative;
	top: 10%;
}
.login label {
	color: #555;
	font-size: 14px;
}
.login form .forgetmenot{
	float:none;
}

#login form p.submit{
	margin-top:15px;
}
.login.wp-core-ui .button-primary {
	background: #4b4646;
	border-color:#4b4646;
	box-shadow: 0 1px 0 #4b4646;
	color: #FFF;
	text-shadow: none;
	float: none;
	clear: both;
	display: block;
	width: 100%;
	padding: 7px;
	height: auto;
	font-size: 15px;
	border-radius: 7px;
}
.copyrights{
	text-align: center;
	position: absolute;
	bottom: 12px;
	color: #fff;
	left: 0;
	right: 0;
	font-size: 70%;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}
.company-logo {
	display: block;
	position: absolute;
	bottom: 30px;
	left: 0;
	right: 0;
	margin: 0 auto;
}
@media (min-width: 320px) and (max-width: 480px) {
	body.login{
		background: #fff !important;
	}
	.copyrights{
		color: #333 !important;
		position: relative !important;
		bottom: -30px !important;
	}
	.company-logo {
		position: relative;
		bottom: -20px;
		width: 70px;
	}
}